#discover-honda{
    width: 85%;
    margin: auto;
    padding: 60px 0;
    .discover-title{
        text-align: center;
        h2{
            font-size: 6.5rem;
            color: $color-dark-blue-100;
            font-weight: 300;
        }
    }
    .pd-col{
        padding: 6px;
        margin-top: 10px;
        

        .discover-item{
            box-shadow: 0 5px 10px 0 rgba(8, 29, 42, 0.08);
            .card-body{
                text-align: center;
                padding: 3.25rem 1.25rem;
                h3{
                    font-weight: $font-weight-bold;
                    color: $color-dark-blue-200;
                }
                p{
                    font-size: $font-size-1;
                    margin: 20px 0;
                }
                a{
                    font-size: $font-size-1;
                    color: $color-blue-200;
                    font-weight: $font-weight-bold;
                }
            }
        }
    }
    .envents{
        padding: $pd-5 0;
    }
}